.App {
  width: 100vw;
  height: 100vh;
  display:flex;
}

body{
  background-color: silver;
}

.main_grid {
  background-color: silver;
}

.container{
  padding: 0 !important;
}

.playground-properties{
  display: inline-block;
}

.square_properties{
  min-width:4vw;
  min-height:4vh;
  height:auto;
}

.button-group-properties{
  display: flex;
  flex-direction: row;
}

.button-group-properties .btn{
  font-size: Calc(1vw + 1vh);
}

.button-group-properties-right .btn{
  font-size: Calc(1vw + 1vh);
}

.menu-button-properties .btn{
  font-size: Calc(1.25vw + 1.25vh);
}

.arrows-group-properties{
  display: flex;
  flex-direction: column;
}

.menu-button-properties{
  display: flex;
  flex-direction: column;
}

.arrow-properties{
  align-self: center;
  min-width:4vw;
  min-height:4vh;
  margin-bottom: 1em;
}

.btn{
  border-radius: 0;
}

.input-group-properties{
  display: flex;
  flex-direction: column;
}

.result-properties{
  display: flex;
  flex-direction: column;
  width:80vw;
  height: 15vh;
  border: 0.2em solid black;
}

.main-level-properties{
  display:flex;
}

.game-grid{
  min-height: 100%;
  min-width: 100%;
}

.margin-top{
  margin-top: 15px;
}

*{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.playground-properties-center{
  text-align: center;
}

.no-padding{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.min-width-properties{
  min-width: 5em;
}

.button-add-dec{
}

.min-width-properties-big{
  min-width: 7em;
}

.margin-top-big{
  margin-top: Calc(3.3vh);
}

.task-details-properties{
  margin: 1em;
  font-size: 18px;
}

.result-details-properties{
  margin: 1em;
  font-size: 24px;
}