.App {
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items: start;
}

.main_grid {
  background-color: silver;
}

.container{
  padding: 0 !important;
}

.menu_buttons_properties{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8%;
  left:5%;
}

.menu_button_properties{
  padding-bottom: 5vh;
  align-self: center;
  min-width:7vw;
  min-height:10vh;
}

.background_image_properties{
  height: 100vh;
  width: 100vw;
}

.hero_background_image_properties{
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width:7vw;
  min-height:7vh;
  top: 80%;
  left:35%;
}

.level_properties{
  width:100vw;
  height:100vh;
  display:flex;
}

.playground_properties{
  display: grid;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.square_properties{
  min-width:4vw;
  min-height:4vh;
  height:auto;
}

.col{
  padding: 0;
}

.level-upper-properties{
  background-color: silver;
  height: 100%;
  width: 100%
}

.level-buttons-properties{
  position:relative;
}

.level-buttons-upperdiv-properties{
  display: flex;
  position:absolute;
  flex-direction: column;
  right:50%;
  bottom:15%;
}

.button-group-properties{
  position:absolute;
  display: flex;
  flex-direction: row;
  top:10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-group-properties .btn{
  font-size: Calc(1vw + 1vh);
}

.menu-button-properties .btn{
  font-size: Calc(1.25vw + 1.25vh);
}

.arrows-group-properties{
  position:absolute;
  display: flex;
  flex-direction: column;
  top:50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.menu-button-properties{
  position:absolute;
  display: flex;
  flex-direction: column;
  top:50%;
  right: 10%;
  transform: translate(+50%, -50%);
}

.arrow-properties{
  min-width:4vw;
  min-height:4vh;
  margin-bottom: 1em;
}

.btn{
  border-radius: 0;
}

.input-group-properties{
  position:absolute;
  display: flex;
  flex-direction: column;
  top:10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result-properties{
  position:absolute;
  display: flex;
  flex-direction: column;
  width:80vw;
  height: 15vh;
  border: 0.2em solid black;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}